<div class="container-fluid">
  <p class="h3 p-3">{{ pinguinoDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img
          class="img-fluid"
          src="{{ pinguinoDetail.image }}"
          alt="{{ pinguinoDetail.name }}"
        />
      </div>
    </div>
    <div class="col">
      <dl>
        <dt>Pinguin Species</dt>
        <dd>No available information</dd>
        <dt>Name</dt>
        <dd>{{ pinguinoDetail.name }}</dd>
        <hr />
        <dt>Scientific Name</dt>
        <dd>{{ pinguinoDetail.scientific_name }}</dd>
        <hr />
        <dt class="bold">Feeding</dt>
        <dd class="caption">{{ pinguinoDetail.feeding }}</dd>
        <hr />
        <dt class="bold">Description</dt>
        <dd>{{ pinguinoDetail.description }}</dd>
      </dl>
    </div>
  </div>
 </div>